In [1]:
print("Varsha")

Varsha

In [2]:
number="54" #integer
print(number) #printing the value of number
print(type(number)) # printing the datatype of number

54
<class 'str'>

In [3]:
a=1.23
print(a) #printing the value of a
print(type(a)) # printing the datatype of a

1.23
<class 'float'>

In [4]:
pv="varsha"
print(pv) #printing the value of pv
print(type(pv)) # printing the datatype of pv

varsha
<class 'str'>

In [5]:
a=True
print(type(a))

<class 'bool'>

In [6]:
#casting - changing the datatype into another datatype
number = 10
print(number)
temp=float(number) # converting int to float
print(temp)

10
10.0

In [7]:
#casting - changing the datatype into another datatype
number = 10.2
print(number)
temp=int(number) # converting float to int
print(temp)

10.2
10

In [8]:
#casting - changing the datatype into another datatype
number = "1"
print(number)
temp=int(number) # converting sttring to int
print(temp)
temp1=float(number) # converting sttring to float 
print(temp1)

1
1
1.0

In [9]:
string="class"
string1="""pythonpython
python
python"""
print(string)
print(string1)

class
pythonpython
python
python

In [10]:
a="ananda nilayam"
print(a)
print(a[7]) #indexing
print(len(a)) #length of string
print(a[0:7])#slicing
b="abcdefghiklmnopqrstuvwxyz"
print(b[5: ])
print(b[ : 10])

ananda nilayam
n
14
ananda
fghiklmnopqrstuvwxyz
abcdefghik

In [11]:
a="Python"
for i in a:
    print(i)

P
y
t
h
o
n

In [12]:
x="banana"
print(x.upper())
y="CAT"
print(y.lower())
print(x+y)
print(x+" "+y)

BANANA
cat
bananaCAT
banana CAT

In [13]:
x="Parrot"
#print(x.join("Dog"))
print(x.join("kite"))
print(x.startswith("p"))
print(x.startswith("P"))

kParrotiParrottParrote
False
True

In [14]:
car="this is very costly"
print("costly" in car)
print("an" in car)
print(type(car))

True
False
<class 'str'>

In [15]:
a=10
b=5
print(a>b)

True

In [16]:
a=10
b=8
if a>b:
    print("kite")
else :
    print("horse")

kite

In [17]:
a=10
b=85
if a>b:
    print("kite")
else :
    print("horse")

horse